# Ignore Data files for tracking
data/
checkpoints/
__pycache__/
*.py[cod]

# Weights & Biases
wandb/
wandb/*

# Optuna study databases
*.db 

# Checkpoints / logs
checkpoints/
logs/
*.pt

# Model files
*.pth

# Environment files
.env 

# logs
*.log 