# Ignore Data files for tracking
data/
checkpoints/
__pycache__/
*.py[cod]
.coverage

# Weights & Biases
wandb/
wandb/*
wandb_logs/

# Optuna study databases
*.db 

# Checkpoints / logs
checkpoints/
logs/
*.pt
.ipynb_checkpoints
*.ckpt

# Model files
*.pth

# Environment files
.env 

# logs
*.log
*.tmp

# --- EXCEPTIONS (ALLOW) --- 
!data/dummy_images/
!data/dummy_images/COVID/*.png
!data/dummy_images/NORMAL/*.png
!data/dummy_images/VIRAL PNEUMONIA/*.png

# Allow test CSV for CI
!data/test_emr_records.csv 

# Mac system files
.DS_Store